<!DOCTYPE html>
<html lang="en">

<head>
	<title>Code Flow</title>
	<meta charset="utf-8">
	<meta name="description" content="Code with Dialogflow">
	<meta name="author" content="Alpay Sabuncuoglu">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
	 crossorigin="anonymous">

	</script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
	</script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
	</script>
	<script>
		$( function() {
    $( "#dialog" ).dialog({
      autoOpen: false,
      resizable: true,
      position: { my: "center center", at: "left bottom"},
      width: "50%",
      maxWidth: "768px"
    });
  } );
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js">

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js">

	</script>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js">
	</script>

	<script>
		hljs.initHighlightingOnLoad();
	</script>

	<script src="{{url_for('static', filename='./lib/fuse.js')}}">

	</script>
	<script src="{{url_for('static', filename='./index.js')}}">

	</script>
	<script src="{{url_for('static', filename='./p5/p5canvas.js')}}">

	</script>
	<script src="{{url_for('static', filename='./p5/code.js')}}">

	</script>
	<script src="{{url_for('static', filename='./p5/interpreter.js')}}">

	</script>

</head>

<body>
	<div id='container'></div>
	<script>
		if (!String.prototype.format) {
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] !== 'undefined' ? args[number] : match;
            });
        };
    }

    initInterpreter();
    let codeP5 = new CodeP5();
    codeP5.runCode();
	</script>
	<div id="myContainer" width="40%" height="40%"></div>
	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1">

	</script>
	<df-messenger intent="WELCOME" chat-title="NaturalCode" expand="true" chat-icon="{{url_for('static', filename='./img/avatar-icon.png')}}"
	 agent-id="88291a45-a29f-43d1-bb72-5f27f8fd4959" language-code="en">
	</df-messenger>
	<div id="dialog" title="Resulted JS Code">
		<pre><code id="js-code" class="javascript"></code></pre>
	</div>
	<script src="{{url_for('static', filename='./messenger.js')}}">

	</script>
</body>

	<link rel="stylesheet" href="{{url_for('static', filename='./index.css')}}">

</html>